<div class="row overflow-scroll d-flex flex-nowrap mb-3">

  {{#each periods}}
    <div class="col-md-2">
      <div class="card border-light mb-3">
        <div class="card-header mb-2">{{name}}</div>
        <div>
          <img src="{{icon}}" class="forecast-img" alt="forecast image">
        </div>
        <div class="card-body">
          <h5 class="card-title"><small>{{shortForecast}}</small></h5>
          <p class="card-text"><small>{{detailedForecast}}</small></p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<div class="row float-end mb-3">
  <small><p><i>Updated at: {{updateTime}} | NWS Office: {{office}} | Grid X: {{gridX}} | Grid Y: {{gridY}}</i></p></small>
</div>
