{{#ifEquals type "ERR"}}
<div>
  <i class="fas fa-exclamation-triangle fa-2x icon-error"></i>
</div>
{{/ifEquals}}
<div>
  {{header}}
  <br>
  {{details}}
</div>
<div>
  <button type="button" class="btn btn-outline-dark" title="Retry" onclick="WeatherStation.Stations.retryNWSForecast('{{office}}', '{{gridX}}', '{{gridY}}')">Retry</button>
</div>
