<div>
  {{#each stations}}

    <div class="row mb-3">
      <div class="col-md-12">
        <h3>{{stationDetails.station.displayName}}</h3>
        <p>{{stationDetails.station.locationDisplay}}</p>
        {{#if record}}
          <div class="col-12 mb-1">
            {{#if viewSettings.currentConditions.temp1.enabled}}
              <i class="fas fa-temperature-high"></i> <b>{{viewSettings.currentConditions.temp1.label}}:</b> {{replaceNullWithDashes record.temp1}} {{#if (isDefined record.temp1)}}{{{viewSettings.currentConditions.temp1.units}}}&nbsp;&nbsp;|{{/if}}
            {{/if}}
            {{#if viewSettings.currentConditions.dewPoint.enabled}}
              &nbsp;&nbsp;<i class="fas fa-tint"></i> <b>{{viewSettings.currentConditions.dewPoint.label}}:</b> {{replaceNullWithDashes record.dewPoint}} {{#if (isDefined record.dewPoint)}}{{{viewSettings.currentConditions.dewPoint.units}}}&nbsp;&nbsp;|{{/if}}
            {{/if}}
            {{#if viewSettings.currentConditions.wind-section}}
              &nbsp;&nbsp;<i class="fas fa-wind"></i> <b>{{viewSettings.currentConditions.windSpeed.label}}:</b>
                {{replaceNullWithDashes record.windSpeed}} {{#if (isDefined record.windSpeed)}}{{{viewSettings.currentConditions.windSpeed.units}}}{{/if}}
                {{#if viewSettings.currentConditions.windDir.enabled}}{{replaceNullWithDashes record.windDir}}{{/if}}
                {{#if viewSettings.currentConditions.windGust.enabled}}G{{replaceNullWithDashes record.windGust}} {{#if (isDefined record.windGust)}}{{{viewSettings.currentConditions.windGust.units}}}{{/if}}{{/if}}
            {{/if}}
          </div>
          <div class="col-12 mb-2">
            <small><i>Last Update: {{formatDateTimeStripTZ record.timestamp}}</i></small>
          </div>
        {{/if}}
        <a class="btn btn-outline-dark" href="{{rootURL}}/station/show/{{stationDetails.station.id}}">View Station <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>

    <hr>

  {{/each}}

</div>
