<div class="row">

  <div class="col-sm-6 text-left">
    {{#if renderedViewSettings.currentConditions.weather-section}}
      <div class="row margin-top-sm">
        <p><b>Weather</b></p>
      </div>
      {{#if renderedViewSettings.currentConditions.temp1.enabled}}
        <div class="row">
          <div class="col-6">
            <p><i class="fas fa-temperature-high"></i> {{renderedViewSettings.currentConditions.temp1.label}}:</p>
          </div>
          <div class="col-6">
            <p>{{replaceNullWithDashes record.temp1}} {{#if (isDefined record.temp1)}}{{{renderedViewSettings.currentConditions.temp1.units}}}{{/if}}</p>
          </div>
        </div>
      {{/if}}
      {{#if renderedViewSettings.currentConditions.dewPoint.enabled}}
        <div class="row">
          <div class="col-6">
            <p><i class="fas fa-tint"></i> {{renderedViewSettings.currentConditions.dewPoint.label}}:</p>
          </div>
          <div class="col-6">
            <p>{{replaceNullWithDashes record.dewPoint}} {{#if (isDefined record.dewPoint)}}{{{renderedViewSettings.currentConditions.dewPoint.units}}}{{/if}}</p>
          </div>
        </div>
      {{/if}}
      {{#if renderedViewSettings.currentConditions.humidity.enabled}}
        <div class="row">
          <div class="col-6">
            <p><i class="fas fa-water"></i> {{renderedViewSettings.currentConditions.humidity.label}}:</p>
          </div>
          <div class="col-6">
            <p>{{replaceNullWithDashes record.humidity}} {{#if (isDefined record.humidity)}}{{{renderedViewSettings.currentConditions.humidity.units}}}{{/if}}</p>
          </div>
        </div>
      {{/if}}
      {{#if renderedViewSettings.currentConditions.heatIndex.enabled}}
        <div class="row">
          <div class="col-6">
            <p><i class="fas fa-fire-alt"></i> {{renderedViewSettings.currentConditions.heatIndex.label}}:</p>
          </div>
          <div class="col-6">
            <p>{{replaceNullWithDashes record.heatIndex}} {{#if (isDefined record.heatIndex)}}{{{renderedViewSettings.currentConditions.heatIndex.units}}}{{/if}}</p>
          </div>
        </div>
      {{/if}}
      {{#if renderedViewSettings.currentConditions.windChill.enabled}}
        <div class="row">
          <div class="col-6">
            <p><i class="fas fa-snowflake"></i> {{renderedViewSettings.currentConditions.windChill.label}}:</p>
          </div>
          <div class="col-6">
            <p>{{replaceNullWithDashes record.windChill}} {{#if (isDefined record.windChill)}}{{{renderedViewSettings.currentConditions.windChill.units}}}{{/if}}</p>
          </div>
        </div>
      {{/if}}
      {{#if renderedViewSettings.currentConditions.pressure.enabled}}
        <div class="row">
          <div class="col-6">
            <p><i class="fas fa-bars"></i> {{renderedViewSettings.currentConditions.pressure.label}}:</p>
          </div>
          <div class="col-6">
            <p>{{replaceNullWithDashes record.pressure}} {{#if (isDefined record.pressure)}}{{{renderedViewSettings.currentConditions.pressure.units}}}{{/if}}</p>
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>

  <div class="col-md-6 text-left">
    {{#if renderedViewSettings.currentConditions.wind-section}}
      <div class="row margin-top-sm">
        <p><b>Wind</b></p>
      </div>
      {{#if renderedViewSettings.currentConditions.windSpeed.enabled}}
        <div class="row">
          <div class="col-6">
            <p><i class="fas fa-tachometer-alt"></i> {{renderedViewSettings.currentConditions.windSpeed.label}}:</p>
          </div>
          <div class="col-6">
            <p>{{replaceNullWithDashes record.windSpeed}} {{#if (isDefined record.windSpeed)}}{{{renderedViewSettings.currentConditions.windSpeed.units}}}{{/if}}</p>
          </div>
        </div>
      {{/if}}
      {{#if renderedViewSettings.currentConditions.windDir.enabled}}
        <div class="row">
          <div class="col-6">
            <p><i class="fas fa-map-signs"></i> {{renderedViewSettings.currentConditions.windDir.label}}:</p>
          </div>
          <div class="col-6">
            <p>{{replaceNullWithDashes record.windDir}}</p>
          </div>
        </div>
      {{/if}}
      {{#if renderedViewSettings.currentConditions.windGust.enabled}}
        <div class="row">
          <div class="col-6">
            <p><i class="fas fa-wind"></i> {{renderedViewSettings.currentConditions.windGust.label}}:</p>
          </div>
          <div class="col-6">
            <p>{{replaceNullWithDashes record.windGust}} {{#if (isDefined record.windGust)}}{{{renderedViewSettings.currentConditions.windGust.units}}}{{/if}}</p>
          </div>
        </div>
      {{/if}}
    {{/if}}

    {{#if renderedViewSettings.currentConditions.precipitation-section}}
      <div class="row margin-top-sm">
        <p><b>Precipitation</b></p>
      </div>
      {{#if renderedViewSettings.currentConditions.precipLast.enabled}}
        <div class="row">
          <div class="col-6">
            <p>{{renderedViewSettings.currentConditions.precipLast.label}}:</p>
          </div>
          <div class="col-6">
            <p>{{formatZeroWithDecimal (defaultNumberToZero record.precipitation) }} {{{renderedViewSettings.currentConditions.precipLast.units}}}</p>
          </div>
        </div>
      {{/if}}
      {{#if renderedViewSettings.currentConditions.precipToday.enabled}}
        <div class="row">
          <div class="col-6">
            <p>{{renderedViewSettings.currentConditions.precipToday.label}}:</p>
          </div>
          <div class="col-6">
            <p>{{formatZeroWithDecimal (defaultNumberToZero record.precipToday) }} {{{renderedViewSettings.currentConditions.precipToday.units}}}</p>
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>

</div>

<div class="row">
  <div class="col-12 mb-2">
    <small><i>Last Update: {{formatDateTimeStripTZ record.timestamp}}</i></small>
  </div>
</div>
