<div>
  <nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

      {{#each sites}}
        <button class="nav-link {{#if activeTab}}active{{/if}}" id="nav-{{id}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{id}}" type="button" role="tab" aria-controls="nav-{{id}}" aria-selected="true">{{title}} {{#if primary}}<sup>&#9733;</sup>{{/if}}</button>
      {{/each}}

    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    {{#each sites}}
      <div class="tab-pane fade show {{#if activeTab}}active{{/if}}" id="nav-{{id}}" role="tabpanel" aria-labelledby="nav-{{id}}-tab">

        <div class="row mb-2 mt-3">
          <div class="col">
            <h4>Current Conditions</h4>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <div class="float-end me-2">
              <button type="button" title="Refresh current conditions" class="btn btn-outline-dark btn-sm" onclick="WeatherStation.Stations.refreshCurrentConditions({{../station.id}}, {{id}})"><i class="fas fa-sync-alt"></i></button>
            </div>
            <div class="float-end me-2">
              <button type="button" title="View technical stats" class="btn btn-outline-dark btn-sm" onclick="WeatherStation.Util.openModal('lg', WeatherStation.Stations.openTechnicalStatsModal({{../station.id}}, {{id}}))"><i class="fas fa-tools"></i>
                Technical Stats
              </button>
            </div>
          </div>
        </div>

        <div id="site-current-record-holder-{{id}}">
          <div class="row">
            <div class="col">
              <img class="loading-gif" src="Resources/Images/loading.gif">
            </div>
          </div>
        </div>

        <div id="twelvehr-record-holder" class="text-center">
          <div>
            <nav>
              <div class="nav nav-tabs" role="tablist">
                <button class="nav-link active" id="nav-table-tab-{{id}}" data-bs-toggle="tab" data-bs-target="#nav-table-{{id}}" type="button" role="tab" aria-controls="nav-table-{{id}}" aria-selected="true"><i class="fas fa-table"></i> Records</button>
                <button class="nav-link" id="nav-graphs-tab-{{id}}" data-bs-toggle="tab" data-bs-target="#nav-graph-{{id}}" type="button" role="tab" aria-controls="nav-graph-{{id}}" aria-selected="true"><i class="fas fa-chart-bar"></i> Charts</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent-{{id}}">
              <div class="tab-pane fade show full-width active" id="nav-table-{{id}}" role="tabpanel" aria-labelledby="nav-table-tab-{{id}}">

                <div class="row mb-2 mt-2">
                  <div class="col">
                    <div class="float-end">
                      <a class="btn btn-outline-dark" href="{{../rootURL}}/records/searchable/{{../station.id}}/{{id}}?station={{../station.displayName}}&site={{title}}"><i class="fas fa-table"></i> Searchable Records</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div id="twelvehr-table-holder-{{id}}">
                    <div class="col-12 text-center">
                      <img class="loading-gif" src="Resources/Images/loading.gif">
                    </div>
                  </div>
                </div>

              </div>

              <div class="tab-pane fade show full-width" id="nav-graph-{{id}}" role="tabpanel" aria-labelledby="nav-graphs-tab-{{id}}">

                <div class="row mb-2 mt-2">
                  <div class="col">
                    <div class="float-end">
                      <a class="btn btn-outline-dark" href="{{../rootURL}}/charts/show/{{../station.id}}/{{id}}?station={{../station.displayName}}&site={{title}}"><i class="fas fa-table"></i> More Charts</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div id="twelvehr-chart-holder-{{id}}">
                    <div class="col-12 text-center">
                      <img class="loading-gif" src="Resources/Images/loading.gif">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    {{/each}}
  </div>
</div>
