<div class="row mb-2">
  <div class="col-md-6 offset-md-3">
    <div class="row">
      <h4>Station Details</h4>
    </div>
    <div class="row">
      <div class="col-6">
        <p><i class="fas fa-map-marker-alt"></i> Location:</p>
      </div>
      <div class="col-6">
        <p>{{station.locationDisplay}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p><i class="fas fa-mountain"></i> Elevation:</p>
      </div>
      <div class="col-6">
        <p>{{station.elevation}} ft</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p><i class="fas fa-clock"></i> Timezone:</p>
      </div>
      <div class="col-6">
        <p>{{station.timezone}}</p>
      </div>
    </div>
  </div>
</div>

{{#if station.viewSettings.images}}
<div class="row mb-2">
  <div class="col-md-6 offset-md-3">
    <a class="btn btn-outline-dark" title="View station live images" href="{{rootURL}}/images/bystation/{{station.id}}"><i class="fas fa-images"></i> Station Images</a>

  </div>
</div>
{{/if}}

{{#if station.viewSettings.nws_forecast}}
  <div class="accordion mb-4" id="nwsForecast">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          NWS Forecast
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#nwsForecast">
        <div class="accordion-body">
          <div id="NWS-forecast-holder"></div>
        </div>
      </div>
  </div>
</div>
{{/if}}
