<div class="modal-header">
  <h5 class="modal-title" id="modalLabel">Technical Status</h5>
  <button type="button" class="btn-close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
{{#if error}}
<div class="modal-body">
  <div class="row">
    <p class="error">Error loading technical status.</p>
  </div>
{{else}}
  <div class="row p-2">

    <div class="col">
      <div class="float-end me-2">
        <button type="button" title="Refresh status" class="btn btn-outline-dark btn-sm" onclick="WeatherStation.Stations.openTechnicalStatsModal({{status.stationId}})"><i class="fas fa-sync-alt"></i></button>
      </div>
    </div>

    <div class="col-12">
        <i class="fa-solid fa-circle {{getStatusCodeColor status.sdStatus}}"></i> [{{status.sdStatus}}] SD Status
    </div>
    <div class="col-12">
        <i class="fa-solid fa-circle {{getStatusCodeColor status.rtcStatus}}"></i> [{{status.rtcStatus}}] RTC Status
    </div>
    <div class="col-12">
        <i class="fa-solid fa-circle {{getStatusCodeColor status.bmeStatus}}"></i> [{{status.bmeStatus}}] BME Status
    </div>
    <div class="col-12">
        <i class="fa-solid fa-circle {{getStatusCodeColor status.temp1Status}}"></i> [{{status.temp1Status}}] Temp1 Status
    </div>
    <div class="col-12">
        <i class="fa-solid fa-circle {{getStatusCodeColor status.temp2Status}}"></i> [{{status.temp2Status}}] Temp2 Status
    </div>
    <div class="col-12">
      <br>
      RTC Battery Status: {{status.rtcBattVStatus}}
    </div>
    <div class="col-12">
      Last Reboot: {{status.rebootTime}}
    </div>

    <div class="col-12">
      <br>
      Last update: {{status.timestamp}}
    </div>

  </div>
{{/if}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
</div>
