{{#if records}}

  <div class="chart-container">
    <canvas id="myChart-{{site.id}}"></canvas>
  </div>

{{else}}

  <div class="text-center">
    <small class="font-italic">No records to show.</small>
  </div>

{{/if}}
