<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date <i class="fas fa-sort-amount-down"></th>
        {{#if renderedViewSettings.temp1.enabled}}
          <th scope="col">{{renderedViewSettings.temp1.label}} ({{{renderedViewSettings.temp1.units}}})</th>
        {{/if}}
        {{#if renderedViewSettings.temp2.enabled}}
          <th scope="col">{{renderedViewSettings.temp2.label}} ({{{renderedViewSettings.temp2.units}}})</th>
        {{/if}}
        {{#if renderedViewSettings.humidity.enabled}}
          <th scope="col">{{renderedViewSettings.humidity.label}} ({{{renderedViewSettings.humidity.units}}})</th>
        {{/if}}
        {{#if renderedViewSettings.dewPoint.enabled}}
          <th scope="col">{{renderedViewSettings.dewPoint.label}} ({{{renderedViewSettings.dewPoint.units}}})</th>
        {{/if}}
        {{#if renderedViewSettings.heatIndex.enabled}}
          <th scope="col">{{renderedViewSettings.heatIndex.label}} ({{{renderedViewSettings.heatIndex.units}}})</th>
        {{/if}}
        {{#if renderedViewSettings.windChill.enabled}}
          <th scope="col">{{renderedViewSettings.windChill.label}} ({{{renderedViewSettings.windChill.units}}})</th>
        {{/if}}
        {{#if renderedViewSettings.pressure.enabled}}
          <th scope="col">{{renderedViewSettings.pressure.label}} ({{{renderedViewSettings.pressure.units}}})</th>
        {{/if}}
        {{#if renderedViewSettings.precipitation.enabled}}
          <th scope="col">{{renderedViewSettings.precipitation.label}} ({{{renderedViewSettings.precipitation.units}}})</th>
        {{/if}}
        {{#if renderedViewSettings.windSpeed.enabled}}
          <th scope="col">{{renderedViewSettings.windSpeed.label}} ({{{renderedViewSettings.windSpeed.units}}})</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each records}}
        <tr>
          <td class="text-center">{{formatDateTime "false" timestamp}}</td>
          {{#if ../renderedViewSettings.temp1.enabled}}
            <td class="text-center">{{replaceNullWithDashes temp1}}</td>
          {{/if}}
          {{#if ../renderedViewSettings.temp2.enabled}}
            <td class="text-center">{{replaceNullWithDashes temp2}}</td>
          {{/if}}
          {{#if ../renderedViewSettings.humidity.enabled}}
            <td class="text-center">{{replaceNullWithDashes humidity}}</td>
          {{/if}}
          {{#if ../renderedViewSettings.dewPoint.enabled}}
            <td class="text-center">{{replaceNullWithDashes dewPoint}}</td>
          {{/if}}
          {{#if ../renderedViewSettings.heatIndex.enabled}}
            <td class="text-center">{{replaceNullWithDashes heatIndex}}</td>
          {{/if}}
          {{#if ../renderedViewSettings.windChill.enabled}}
            <td class="text-center">{{replaceNullWithDashes windChill}}</td>
          {{/if}}
          {{#if ../renderedViewSettings.pressure.enabled}}
            <td class="text-center">{{replaceNullWithDashes pressure}}</td>
          {{/if}}
          {{#if ../renderedViewSettings.precipitation.enabled}}
            <td class="text-center">{{formatZeroWithDecimal (defaultNumberToZero precipitation) }}</td>
          {{/if}}
          {{#if ../renderedViewSettings.windSpeed.enabled}}
            <td class="text-center">{{#if ../renderedViewSettings.windSpeed.enabled}}{{replaceNullWithDashes windSpeed}}{{/if}} {{#if ../renderedViewSettings.windDir.enabled}}{{replaceNullWithDashes windDir}}{{/if}} {{#if ../renderedViewSettings.windGust.enabled}}{{#if windGust}}G{{replaceNullWithDashes windGust}}{{/if}}{{/if}}</td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#unless records}}
    <div class="text-center">
      <small class="font-italic">No records to show.</small>
    </div>
  {{/unless}}

</div>
