<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {{#each cams}}
          <div class="col">
            <div class="card shadow-sm">

              {{#if imageDTO}}
                <img src="data:image/jpeg;base64,{{thumbnail}}" width="100%" height="225">
              {{else}}
                <svg class="bd-placeholder-img card-img-top float-start" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">No Recent Image</text></svg>
              {{/if}}

              <div class="card-body">
                <p class="card-text">{{camDTO.name}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {{#if imageDTO}}
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="WeatherStation.Util.openModal('lg', WeatherStation.Images.displayImageModal({{imageDTO.id}}))">View Image</button>
                    {{/if}}
                    <a class="btn btn-sm btn-outline-secondary" title="Search cam images" href="{{baseUrl}}/images/search/{{camDTO.location.id}}/{{camDTO.id}}">Search Cam Images</a>
                  </div>
                </div>
                <div class="float-end">
                  <small class="text-muted">{{timeOffsetText}}</small>
                </div>
              </div>
            </div>
          </div>
        {{/each}}

      </div>

    </div>
  </div>
