<div class="modal-header">
  <h5 class="modal-title" id="modalLabel">{{cam.location.name}} - {{cam.name}}</h5>
  <button type="button" class="btn-close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <div class="row mb-2">
    <div class="col-12 text-center">
      <img src="{{url}}" width="100%" height="auto">
    </div>
  </div>
  <div class="row">
    <div>
      <small class="text-muted float-end">{{formatDateTimeStripTZ image.timestamp}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      {{#if privillegedUrl}}
        <button type="button" title="View Image in New Tab" class="btn btn-outline-dark me-2" onclick="window.open('{{privillegedUrl}}', '_blank');"><i class="fas fa-external-link-square-alt"></i></button>
        <button type="button" id="clipboard-test" title="Copy Link" class="btn btn-outline-dark me-2" data-clipboard-text="{{privillegedUrl}}"><i class="fas fa-copy"></i></button>
      {{else}}
        <button type="button" title="View Image in New Tab" class="btn btn-outline-dark me-2" onclick="window.open('{{url}}', '_blank');"><i class="fas fa-external-link-square-alt"></i></button>
        <button type="button" id="clipboard-test" title="Copy Link" class="btn btn-outline-dark me-2" data-clipboard-text="{{url}}"><i class="fas fa-copy"></i></button>
      {{/if}}

      <button type="button" title="Download Image" class="btn btn-outline-dark me-2" onclick="WeatherStation.Images.downloadImage({{image.id}})"><i class="fas fa-download"></i></button>

      {{#ifEquals userAuth.role "ADMIN"}}
        {{#if image.isRetained}}
          <button type="button" title="Unretain Image" class="btn btn-outline-dark me-2" onclick="WeatherStation.Images.unretainImage({{image.id}})"><i class="fas fa-minus-square text-warning"></i></button>
        {{else}}
          <button type="button" title="Retain Image" class="btn btn-outline-dark me-2" onclick="WeatherStation.Images.retainImage({{image.id}})"><i class="far fa-save text-primary"></i></button>
        {{/if}}
        <button type="button" title="Delete Image" class="btn btn-outline-dark me-2" onclick="WeatherStation.Images.displayDeleteImageConfirmation({{image.id}})"><i class="fas fa-trash-alt text-danger"></i></button>
      {{/ifEquals}}
</button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
