<div class="row">
  <div class="col-12 text-center">
    <h4>{{location.name}}<h4>
  </div>
</div>

<div class="row mb-2">

    {{#if userAuth.loggedIn}}
      <div>
        <div class="float-end">
          <p>Logged in as: {{userAuth.username}}</p>
        </div>
      </div>
      <div class="col-12">
        <button type="button" title="Log Out" class="btn btn-outline-dark float-end" onclick="WeatherStation.Images.Auth.clearAuthToken('{{callback}}')"><i class="fas fa-sign-out-alt"></i>
          Log Out
        </button>
      </div>
    {{else}}
      <div class="col-12">
        <button type="button" title="Log in" class="btn btn-outline-dark float-end" onclick="WeatherStation.Util.openModal(WeatherStation.Images.Auth.openLoginModal('{{callback}}'))"><i class="fas fa-sign-in-alt"></i>
          Log In
        </button>
      </div>
    {{/if}}
</div>

<div class="row" id="cams-holder">
  <div class="col-12 text-center">
    <img class="loading-gif" src="Resources/Images/loading.gif">
  </div>
</div>
