<div class="modal-header">
  <h5 class="modal-title" id="modalLabel">Login</h5>
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
  <form id="loginForm">

    <div class="mb-3">
      <label class="form-label" for="usernameField">Username:</label>
      <input type="text" class="form-control" id="usernameField" placeholder="Username" maxLength="255" required>
      <small id="usernameErrorHolder" class="text-danger">
      </small>
    </div>

    <div class="mb-3">
      <label class="form-label" for="passwordField">Password:</label>
      <input type="password" class="form-control" id="passwordField" placeholder="Password" maxlength="512" required>
      <small id="passwordErrorHolder" class="text-danger">
      </small>
    </div>

    <div>
      <p id="loginResultErrorHolder" class="text-danger text-center">
      </p>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" onclick="WeatherStation.Images.Auth.attemptAuthentication('{{callback}}')">Login</button>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
</div>
