/*
 * CSS Styles to be present on all pages
 */
html {
  position: relative;
  min-height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  /*background-color: #1C3043;*/
  /*color: #FFFFFF;*/
  /*font-family: 'Nanum Gothic';*/
  margin-bottom: 40px;
}

.text-center {
  margin: auto;
}

.invisible {
  display: none;
}

.full-width {
  width: 100%;
}

.display-block {
  display: block
}

.clickable {
  cursor: pointer;
}

/*
 * General icon related CSS
 */
.icon-refresh {
  color: #AAFF00 !important;
}

.icon-error {
  color: #DC3545 !important;
}

.icon {
  color: #FFFFFF;
  text-decoration: none;
}

.invisible {
  display: none;
}

/*
 * Footer
 */
.display-block {
  display: block
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  /*background-color: #1C3043;*/
}

.icon-red {
  color: red;
}

.icon-green {
  color: green;
}

.icon-yellow {
  color: yellow;
}
