<div class="modal-header">
  <h5 class="modal-title" id="modalLabel">{{header}}</h5>
  <button type="button" class="btn-close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body text-center">
  {{#ifEquals type "ERR"}}
    <div>
      <i class="fas fa-exclamation-triangle fa-2x icon-error"></i>
    </div>
  {{/ifEquals}}
  <p>{{{details}}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
