<div class="row">
  <div class="col-12 text-center">
    <small>Records {{pagenation.startRange}} - {{pagenation.endRange}} of {{pagenation.totalElements}}.</small>
  </div>
  {{#ifgt pagenation.totalPages 0}}
  <div class="col-12 d-flex justify-content-center">
    <div class="btn-toolbar" role="toolbar" aria-label="Pagenation">
      <div class="btn-group" role="group" aria-label="Pagenation buttons">
        {{#if pagenation.isFirst}}
          <button type="button" class="btn btn-outline-dark" disabled><i class="fas fa-angle-double-left"></i></button>
          <button type="button" class="btn btn-outline-dark" disabled><i class="fas fa-angle-left"></i></button>
        {{else}}
          <button type="button" class="btn btn-outline-dark" onclick="WeatherStation.Tables.onSearch({{stationId}}, {{siteId}}, 0)"><i class="fas fa-angle-double-left"></i></button>
          <button type="button" class="btn btn-outline-dark" onclick="WeatherStation.Tables.onSearch({{stationId}}, {{siteId}}, {{pagenation.prevPage}})"><i class="fas fa-angle-left"></i></button>
        {{/if}}

        {{#each pagenation.pages}}
          {{#if current}}
            <button type="button" class="btn btn-dark">{{label}}</button>
          {{else}}
            <button type="button" class="btn btn-outline-dark" onclick="WeatherStation.Tables.onSearch({{../stationId}}, {{../siteId}}, {{page}})">{{label}}</button>
          {{/if}}
        {{/each}}

        {{#if pagenation.isLast}}
          <button type="button" class="btn btn-outline-dark" disabled><i class="fas fa-angle-right"></i></button>
          <button type="button" class="btn btn-outline-dark" disabled><i class="fas fa-angle-double-right"></i></button>
        {{else}}
          <button type="button" class="btn btn-outline-dark" onclick="WeatherStation.Tables.onSearch({{stationId}}, {{siteId}}, {{pagenation.nextPage}})"><i class="fas fa-angle-right"></i></button>
          <button type="button" class="btn btn-outline-dark" onclick="WeatherStation.Tables.onSearch({{stationId}}, {{siteId}}, {{pagenation.lastPage}})"><i class="fas fa-angle-double-right"></i></button>
        {{/if}}
      </div>
    </div>
  </div>
  {{/ifgt}}
</div>
