<div class="modal-header">
  <h5 class="modal-title" id="modalLabel">Download Formats</h5>
  <button type="button" class="btn-close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">

      <div class="form-check">
        <input class="form-check-input" type="radio" name="fileFormat" value="csv" id="csvType">
        <label class="form-check-label" for="csvType">
          CSV
        </label>
      </div>
      <!--<div class="form-check">
        <input class="form-check-input" type="radio" name="fileFormat" value="excel" id="excelType">
        <label class="form-check-label" for="excelType">
          Excel
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="fileFormat" value="xml" id="xmlType">
        <label class="form-check-label" for="xmlType">
          XML
        </label>
      </div>-->

    </div>
  </div>
  <div class="row invisible" id="downloadLoadingGif">
    <div class="col text-center">
      <img class="loading-gif" src="Resources/Images/loading.gif">
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <small id="download-error-holder" class="text-danger">
      </small>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" id="downloadButton" onclick="WeatherStation.Tables.onDownload({{stationId}}, {{siteId}})">Download</button>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
</div>
