<div class="modal-header">
  <h5 class="modal-title" id="modalLabel">Data Sources</h5>
  <button type="button" class="btn-close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="recent" id="recent-check" {{#if settings.recent}}checked{{/if}}>
        <label class="form-check-label" for="recent-check">
          Include Recent
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="truncated" id="truncated-check" {{#if settings.truncated}}checked{{/if}}>
        <label class="form-check-label" for="truncated-check">
          Include Truncated
        </label>
      </div>

    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" onclick="WeatherStation.Tables.applyDataSource({{stationId}}, {{siteId}})">Apply</button>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
</div>
