<div class="modal-header">
  <h5 class="modal-title" id="modalLabel">Column Visibility</h5>
  <button type="button" class="btn-close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col" id="columnValues">

      {{#each tableColumnSettings}}

        {{#if enabled}}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{@key}}" id="{{@key}}-check" {{#if checked}}checked{{/if}}>
            <label class="form-check-label" for="{{@key}}-check">
              {{label}}
            </label>
          </div>
        {{/if}}

      {{/each}}

    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" onclick="WeatherStation.Tables.applyColumnVisibilityToggle({{stationId}}, {{siteId}})">Apply</button>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
</div>
