<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        {{#each orderedColumnSettings}}
          {{#if show}}
            {{#ifEquals ../sortField key}}
              <th scope="col" id="sorted-{{key}}-{{../sortDirection}}" {{#if ../sortEnabled}}class="text-center clickable sortedField" onclick="WeatherStation.Tables.onColumnClick({{../stationId}}, {{../siteId}}, '{{key}}', '{{../sortDirection}}')"{{/if}}>{{label}}{{#if units}}({{{units}}}){{/if}} {{> TABLE_SORT_ICON sortDirection=../sortDirection}}</i></th>
            {{else}}
              <th scope="col" class="text-center {{#if ../sortEnabled}}clickable{{/if}}" {{#if ../sortEnabled}}onclick="WeatherStation.Tables.onColumnClick({{../stationId}}, {{../siteId}}, '{{key}}', 'ASC')"{{/if}}>{{label}}{{#if units}}({{{units}}}){{/if}}</i></th>
            {{/ifEquals}}
          {{/if}}
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each records}}
        <tr>
          {{#if ../enabledColumnSettings.timestamp.show}}
            <td class="text-center">{{formatDateTime "true" timestamp}}</td>
          {{/if}}
          {{#if ../enabledColumnSettings.temp1.show}}
            <td class="text-center">{{replaceNullWithDashes temp1}}</td>
          {{/if}}
          {{#if ../enabledColumnSettings.temp2.show}}
            <td class="text-center">{{replaceNullWithDashes temp2}}</td>
          {{/if}}
          {{#if ../enabledColumnSettings.humidity.show}}
            <td class="text-center">{{replaceNullWithDashes humidity}}</td>
          {{/if}}
          {{#if ../enabledColumnSettings.dewPoint.show}}
            <td class="text-center">{{replaceNullWithDashes dewPoint}}</td>
          {{/if}}
          {{#if ../enabledColumnSettings.heatIndex.show}}
            <td class="text-center">{{replaceNullWithDashes heatIndex}}</td>
          {{/if}}
          {{#if ../enabledColumnSettings.windChill.show}}
            <td class="text-center">{{replaceNullWithDashes windChill}}</td>
          {{/if}}
          {{#if ../enabledColumnSettings.pressure.show}}
            <td class="text-center">{{replaceNullWithDashes pressure}}</td>
          {{/if}}
          {{#if ../enabledColumnSettings.precipitation.show}}
            <td class="text-center">{{formatZeroWithDecimal (defaultNumberToZero precipitation) }}</td>
          {{/if}}
          {{#if ../enabledColumnSettings.windSpeed.show}}
            <td class="text-center">{{replaceNullWithDashes windSpeed}}</td>
          {{/if}}
          {{#if ../enabledColumnSettings.windDir.show}}
            <td class="text-center">{{replaceNullWithDashes windDir}}</td>
          {{/if}}
          {{#if ../enabledColumnSettings.windGust.show}}
            <td class="text-center">{{replaceNullWithDashes windGust}}</td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>


  {{#if pagenation}}
    {{> TABLE_PAGENATION}}
  {{/if}}

  {{#if loading}}
    <div class="text-center">
      <img class="loading-gif" src="Resources/Images/loading.gif">
    </div>
  {{else}}
    {{#unless records}}
      <div class="text-center">
        <small class="font-italic">No records to show.</small>
      </div>
    {{/unless}}
  {{/if}}

</div>
